<div class="modal-header">
    <h5 class="modal-title"><b>{{title}}</b></h5>
    <span class="close m1-2" ng-click="closePopup()"><i class="zmdi zmdi-close close-size"></i></span>
</div>
<div class="modal-body">
    <div class="row" ng-if="!isCustomContent">
        <div class="col-sm-12">
            <div ng-if="showIcon" class="text-center mt-0" style="font-size: 5rem; line-height: 5rem; opacity: 0.5;">
                <i ng-if="icon=='success'" class="zmdi zmdi-check-circle text-success" aria-hidden="true"></i>
                <i ng-if="icon=='info'" class="zmdi zmdi-info text-info" aria-hidden="true"></i>
                <i ng-if="icon=='error'" class="zmdi zmdi-close-circle text-danger" aria-hidden="true"></i>
                <i ng-if="icon=='warning'" class="zmdi zmdi-alert-circle text-warning" aria-hidden="true"></i>
                <i ng-if="icon=='question'" class="zmdi zmdi-help text-info" aria-hidden="true"></i>
            </div>
            <h5 class="text-center" ng-if="text">{{text}}</h5>
            <div style="word-break:break-word;" ng-if="subText" ng-bind-html="subText | trusted"></div>
        </div>
    </div>
    <div class="row" ng-if="isCustomContent" ng-bind-html="content | trusted">
    </div>
</div>
<div class="modal-footer">
    <button ng-if="isCancel" ng-click="closePopup('cancel')" type="button" class="btn btn-danger float-right">Cancel</button>
    <button ng-if="isOk" ng-click="closePopup('ok')" type="button" class="btn btn-primary float-right">OK</button>
    <button ng-if="isNo" ng-click="closePopup('no')" type="button" class="btn btn-danger float-right">No</button>
    <button ng-if="isYes" ng-click="closePopup('yes')" type="button" class="btn btn-success float-right">Yes</button>
</div>