<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Electorn App</title>
    <link rel="stylesheet" href="styles/material-iconic-font.min.css" />
    <link rel="stylesheet" href="styles/animate.min.css" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/snb.css" />
</head>

<body>
    <main role="main" class="container-fluid" ng-controller="mainCtrl" ng-init="onInit()">
        <div class="row">
            <div class="col-3 sidebar">
                <img class="cover-pic" ng-src="{{coverpic}}" />
            </div>
            <div class="col-9 content-area">
                <canvas id="canvas" height="300" width="600"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12 audio-info">
                <span>{{title}}</span>&nbsp; <span><i>{{album}}</i></span>
            </div>
        </div>
        <div class="row player-area">
            <div class="col-2 my-auto">
                <button class="player-button play-pause" type="button" ng-click="onPrev()">
                    <i class="zmdi zmdi-skip-previous"></i>
                </button>
                <button class="player-button play-pause" type="button" ng-click="onPlayPause()">
                    <i ng-if="isPlaying" class="zmdi zmdi-pause-circle"></i>
                    <i ng-if="!isPlaying" class="zmdi zmdi-play-circle"></i>
                </button>
                <button class="player-button play-pause" type="button" ng-click="onNext()">
                    <i class="zmdi zmdi-skip-next"></i>
                </button>
            </div>
            <div class="col-5 progress my-auto p-0" style="height:7px; cursor: pointer;" ng-click="onSeek($event)">
                <div class="progress-bar bg-dark" ng-style="seekbarStyle"></div>
            </div>
            <div class="col-1 progress my-auto p-0 ml-4" style="height:5px; cursor: pointer;" ng-click="onVolumeChange($event)">
                <div class="progress-bar bg-dark" ng-style="volumeStyle"></div>
            </div>
        </div>
    </main>
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script src="scripts/bs/jquery.min.js"></script>
    <script>
        if (window.module) module = window.module;
    </script>
    <script src="scripts/bs/popper.min.js"></script>
    <script src="scripts/bs/bootstrap.min.js"></script>
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular/angular.animate.min.js"></script>
    <script src="scripts/angular/angular.sanitize.min.js"></script>
    <script src="scripts/bs/ui-bootstrap.tpls.min.js"></script>
    <script src="scripts/app-common.js"></script>
    <script src="scripts/controllers/main-controller.js"></script>
</body>

</html>