<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Electorn App</title>
    <link rel="stylesheet" href="styles/material-iconic-font.min.css" />
    <link rel="stylesheet" href="styles/animate.min.css" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/snb.css" />
</head>

<body>
    <main role="main" class="container-fluid" ng-controller="mainCtrl" ng-init="onInit()">
        <div class="row">
            <div class="col-3 sidebar">
                <img class="cover-pic" ng-src="{{coverpic}}" />
            </div>
            <div class="col-9 content-area">
                <canvas id="canvas" height="180" width="500"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12 audio-info">
                <span>{{title}}</span>&nbsp; <span><i>{{album}}</i></span>
            </div>
        </div>
        <div class="row player-area">
            <div class="col-12 my-auto mx-auto">
                <button class="player-button play-pause" type="button" ng-click="onPrev()">
                    <i class="zmdi zmdi-skip-previous"></i>
                </button>
                <button class="player-button play-pause" type="button" ng-click="onPlayPause()">
                    <i ng-if="isPlaying" class="zmdi zmdi-pause-circle"></i>
                    <i ng-if="!isPlaying" class="zmdi zmdi-play-circle"></i>
                </button>
                <button class="player-button play-pause" type="button" ng-click="onNext()">
                    <i class="zmdi zmdi-skip-next"></i>
                </button>
                <input type="range" class="seekbar blue" min="{{0}}" max="{{duration}}" ng-model="currPos" ng-keyup="onSeek($event.target.value);$scope.isSeeking=false;"
                    ng-keydown="$scope.isSeeking=true;"></input>
                <input type="range" min="0.0" max="1.0" step="0.01" ng-model="volume" ng-change="onVolumeChange()"></input>
            </div>
        </div>
    </main>
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script src="scripts/bs/jquery.min.js"></script>
    <script>
        if (window.module) module = window.module;
    </script>
    <script src="scripts/bs/popper.min.js"></script>
    <script src="scripts/bs/bootstrap.min.js"></script>
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular/angular.animate.min.js"></script>
    <script src="scripts/angular/angular.sanitize.min.js"></script>
    <script src="scripts/bs/ui-bootstrap.tpls.min.js"></script>
    <script src="scripts/app-common.js"></script>
    <script src="scripts/controllers/main-controller.js"></script>
</body>

</html>